/** FONTS AND VIEWPORTS **/

html {
    font-family: 'Maven Pro', sans-serif;
}

body {
    min-height: 100vh;
}

.vh50 {
    min-height: 50vh;
}

.full-width100 {
    width: 100vw;
    height: calc(100vw * (9/16));
}

/* SMALL NAV BAR */

.navsm {
    min-height: 32px!important;
    line-height: 32px!important;
}
.smi {
    height: 32px!important;
    line-height: 32px!important;
}